1
[{"id":"4f13c0bd.c6844","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"6a3d0ffc.dcb82","type":"http in","z":"4f13c0bd.c6844","name":"","url":"/date","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["a6aaa3f7.845d8"]]},{"id":"c369fc2d.5f0be","type":"rpi-gpio in","z":"4f13c0bd.c6844","name":"gpio4","pin":"13","intype":"up","debounce":"25","read":true,"x":130,"y":280,"wires":[["e24d5f3b.57d2a"]]},{"id":"e24d5f3b.57d2a","type":"function","z":"4f13c0bd.c6844","name":"set gpio","func":"global.set(\"GPIO\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["b62d1ebe.9a96f"]]},{"id":"a6aaa3f7.845d8","type":"function","z":"4f13c0bd.c6844","name":"GET GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["b62d1ebe.9a96f","6b2d0d67.88cd04"]]},{"id":"b62d1ebe.9a96f","type":"debug","z":"4f13c0bd.c6844","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":280,"wires":[]},{"id":"6b2d0d67.88cd04","type":"http response","z":"4f13c0bd.c6844","name":"","statusCode":"","headers":{},"x":570,"y":180,"wires":[]}]

