2
[{"id":"cb51529d.ec3bc","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"d36992e4.359d9","type":"http in","z":"cb51529d.ec3bc","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":320,"wires":[["207bba41.164756","b9b62e3d.a44fd"]]},{"id":"207bba41.164756","type":"function","z":"cb51529d.ec3bc","name":"SET TO 1","func":"msg.payload = 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["99b6b637.d67038"]]},{"id":"99b6b637.d67038","type":"rpi-gpio out","z":"cb51529d.ec3bc","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":540,"y":320,"wires":[]},{"id":"b9b62e3d.a44fd","type":"function","z":"cb51529d.ec3bc","name":"RETURN","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["15612e42.dc44a2","c266ad0c.5f6b5"]]},{"id":"15612e42.dc44a2","type":"http response","z":"cb51529d.ec3bc","name":"","statusCode":"","headers":{},"x":560,"y":460,"wires":[]},{"id":"c266ad0c.5f6b5","type":"debug","z":"cb51529d.ec3bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":560,"wires":[]},{"id":"57ac6b16.046034","type":"http in","z":"cb51529d.ec3bc","name":"Set GPIO5","url":"/setgpio6","method":"get","upload":false,"swaggerDoc":"","x":160,"y":720,"wires":[["dc66b3f2.7d57e","9d5c1236.ccea6"]]},{"id":"dc66b3f2.7d57e","type":"function","z":"cb51529d.ec3bc","name":"SET TO 0","func":"msg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["99b6b637.d67038"]]},{"id":"9d5c1236.ccea6","type":"function","z":"cb51529d.ec3bc","name":"RETURN","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":787,"wires":[["15612e42.dc44a2","c266ad0c.5f6b5"]]}]

